.TitlosEpikinonias {
    text-align: center;
    font-size: 25px;
    color: #e8e819;
}
.Kelithos {
  position: absolute;
  width: 100%;
  padding-left: 20px;
  padding-right: 0px;
  min-width: 600px;
}

#Diorfosi {
    position: absolute;
    bottom: 0px;
    min-width: 900px;
}

.Periexomena_Kelithou {
  display: flex;
  max-width: 650px;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  box-shadow: 0 0 10px black;
  
}

.Isodi {
  display: flex;
  flex-direction: column;
  margin-right: 6%;
}

.Isodi , .minima {
  width: 50%;
}

.Eisagogi , .minima textarea{
  margin: 5px 0;
  background: transparent;
  border: 0px;
  border-bottom: 1.8px solid #02ce61;
  padding: 20px;
  color: white;
  width: 100%;
}

.minima textarea {
    height: 259.2px;
}

.Koumpi {
    background: #39b7dd;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left:30%;
    margin-right:30%;
    display:block;
}

