body {
    background: url("../Eikones/proj.jpeg") no-repeat;
    background-size: cover;
    overflow: hidden;  
}

section {
    background-color: rgba(104, 26, 50,0.75);;
    margin-left: 150px;
    margin-right: 150px;
}

footer {
    position: fixed;
    bottom: 0px;
    min-width: 900px;
}

.Τίτλος_Πρότζεκτ {
    text-align: center;
    margin-top: 110px;
    font-size: 35px;
}


