body {
    background: url("Eikones/Background.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: Georgia, serif;
    margin: 0%;
    padding: 0%;
    
}

#Titlos1 {
    font-size: 50px;
    color: whitesmoke;
    text-align: left;
    float: left;
    position: absolute;
    left: 35px;
    top: -20px;
    margin: 20px;
    font-family:Trattatello, fantasy;
    
}

#paragrafos1 {
    text-align: center;
}

header {
   background-color: #292d33;
   padding-top: 20px;
   height: border-box;
   min-height:70px;
}

#Titlos2 {
    text-align: center;
}

#Kouti {
    margin-top: 20px; 
}

#Alex {
    background: url("Eikones/wood.jpg") no-repeat;
    background-size: 100% 100%;
    float:left;
    padding:55px;
    text-align: center;
    width:40%;
    border: black 3px solid;
    margin-right: 10px;
}

#Panagiotis {
    background: url("Eikones/wood.jpg") no-repeat;
    background-size: 100% 100%;
    float:left;
    padding:55px;
    text-align: center;
    width:40%;
    border: black 3px solid;
    margin-left: 10px;
}

img.mikos {
    width:100%;
    border: #54528c 3px solid;
}

footer {
    background: #0d1828;
    color: white;
    float:left; 
    height:border-box;
    width:100%; 
    text-align: center;
}

#TAlex {
    background: #38a02e;
    margin: 0px;
    border: #54528c 2px solid;
    width: 100.3%;
}

#TPana {
    background: #38a02e;
    margin: 0px;
    border: #54528c 2px solid;
    width: 100.4%;
}

div.Periexomena {
    margin: 1%;
    padding: 1%;
    
}

.hyperlink {
    list-style-type: none;
    float: right;
    margin:0;
    padding:0;
    margin-bottom: 10px;
    position: absolute;
    right: 35px;
    top:35px;
}

li {
    display: inline-block;
}

div.Periexomena2 {
    margin:auto;
    overflow:hidden;
    width:85%;
}

header a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 15px;
    border: 1px solid transparent;
    background-color: #0d1c38;
    transition: 1.5s ease;
}

header a:hover {
    background-color: #515c70;
    color: red;
    border: 2px solid #53617a;
}
