body {
    background: url("Eikones/Background.jpg") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    font-family: Georgia, serif;
    margin: 0%;
    padding: 0%;
}

#Titlos1 {
    font-size: 30px;
    color: whitesmoke;
    text-align: left;
    float: left;
    left: 31px;
    top: -8px;
    margin: 20px;
    font-family:"Palatino Linotype" ,Trattatello, fantasy;
    min-width: 750px;
    position: absolute;
    animation-name: Xeretismos;
    animation-duration: 3s;
        -webkit-animation-duration: 3s;
        -moz-animation-duration: 3s;
    text-shadow: 2px 2px 8px #0d91d8,2px 2px 8px #354f8c;
}

header {
        padding-top: 20px;
        height: border-box;
        min-height:70px;
        box-shadow: 0 1px 8px 2px black;
        background: url("Eikones/header.jpg") no-repeat;
        background-size: 100% 100%;
        filter: saturate(1);
    }

#Titlos2 {
    text-align: center;
    color: #479992;
}

#Alex {
    background: url("Eikones/wood.jpg") no-repeat;
    background-size: 100% 100%;
    padding:55px;
    text-align: center;
    width:49%;
    border: 3px solid black;
    margin-right: 10px;
    overflow: hidden;
    transition: transform 2s;
}

#Panagiotis {
    background: url("Eikones/wood.jpg") no-repeat;
    background-size: 100% 100%;
    padding:55px;
    text-align: center;
    width:49%;
    border: 3px solid black;
    margin-left: 10px;
    transition: transform 2s;
}

.mikos1 {
    width:100%;
    border: #3A1809 3px solid;
    min-width: 280px;
}

#Alex:hover{
    transform: scale(1.02);
}

.mikos2 {
    width:100%;
    border: #3A1809 3px solid;
    min-width: 280px;
}

#Panagiotis:hover{
    transform: scale(1.02);
}
footer {
    background: #0d1828;
    color: white;
    float:left; 
    height:border-box;
    width:100%; 
    text-align: center;
}

#TAlex {
    background: #4c0507;
    margin: 0px;
    border: #3A1809 2px solid;
    width: 100%;
    border-bottom-color: transparent;
}

#TPana {
    background: #755353;
    margin: 0px;
    border: #3A1809 2px solid;
    width: 100%;
    border-bottom-color: transparent;
    
}

.Periexomena {
    margin: 10px;
    padding: 10px;
    overflow: auto;
    float: left;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 2);
}

.hyperlink {
    list-style-type: none;
    float: right;
    margin:0px;
    padding:0px;
    right: 0px;
    top:35px;
    min-width: 620px;
    position: absolute;
    margin: -5px ;
}

.hyperlink li {
    display: inline-block;
    padding: 3px;
}

div.Periexomena2 {
    margin:auto;
    overflow: hidden;
    width:98%;
}

header a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px 18px;
    border: 1px solid transparent;
    background-color: #0d1c38;
    transition: 1.5s ease;
    box-shadow: 0px 1px 8px #6691f4;
    
}

header a:hover {
    background-color: #515c70;
    color: red;
    border: 2px solid #53617a;
}

* {
    box-sizing: border-box;
}

.Periexomena:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes Xeretismos{
    from {
        -webkit-transform:scale(0);
        -moz-transform:scale(0);
    }
    to {
	-webkit-transform:scale(1);
        -moz-transform:scale(1);
    }
}

.graphics {
    color: #ffa21e;
    box-shadow: 1px 2px 8px black;
    transition: transform 2s;
}

.graphics:hover, .graphics1:hover , .TitlosGnosis:hover {
    transform: scale(1.02);
    text-shadow: 0.5px 0.5px #ffd891;
}

@media only screen and (max-width:1350px) {
    .Periexomena2,.hyperlink{
        padding: 40px;
        float: none;
        left: 5%;
  }
}

@media only screen and (max-width:800px) {
    .hyperlink{
        width: 800px;
        left: 5%;    
    }
}

html {
    min-width: 850px;
    min-height: 100%;
}

#Titlos3 {
    font-size: 35px;
    color: whitesmoke;
    text-align: left;
    float: left;
    left: 80px;
    top: -8px;
    margin: 20px;
    font-family:"Palatino Linotype" ,Trattatello, fantasy;
    min-width: 750px;
    position: absolute;
    text-shadow: 2px 2px 8px #0d91d8,2px 2px 8px #354f8c;
}

.graphics1 {
    color: #ff9b0f;
    box-shadow: 1px 2px 8px black;
    transition: transform 2s;
}

 .Ellada img , .Komotini img{ 
    display:none; 
    animation-name: ArgiFortosi;
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
    position: absolute;
    top: 50%;
    left: 24%;
 }
 .Ellada:hover img , .Komotini:hover img { 
    display:block; 
    width: 270px;
    position: relative;
 }
 
 .Ellada , .Komotini{
    color:#e0f900;
    text-shadow: 1px 1px 8px #fdffed;
    
 }
 
 @keyframes ArgiFortosi {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
    }
 }

 .ListaGnosis {
    color: #f28d00;
    box-shadow: 1px 2px 8px black;
    transition: transform 2s;
    list-style-type:none;
    text-decoration: underline;
 }
 
 .TitlosGnosis {
    color: #f28d00;
    box-shadow: 1px 2px 8px black;
    transition: transform 2s;
 }
 
 .TitlosEikonas{
     float: left;
     position: absolute;
     top: 10px;
     animation-name: giro;
     animation-duration: 4s;
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
     
 }
 
@keyframes giro {
    100% { 
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg); 
    } 
}
